.footer{
    background: white;
    margin-top: 250px;
    padding: 25px;
    line-height: 2;
    display: flex;
    border-top: 3px solid gainsboro;
    border-bottom:2px solid gainsboro ;
    padding-left: 150px;
    padding-right: 155px;
}

.nav2 li{
   list-style-type: none;
}
  
.nav2 a{
   text-decoration: none;
   color: black;
}
  
h4{
    margin-bottom: 5px;
}
  
.nav2{
    width: 25%;
    padding: 0 15px;
  
}

.footer-col{
    margin-left: 180px;
    margin-top: 50px;
    padding: 1px;
}
  
.footer-col li{
    list-style-type: none;
}
  
.footer-col a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.ad{
    font-weight: bolder;
    font-size: x-large;
}

.socialmedia{
    display: flex;
    margin-left: 400px;
    margin-top: 80px;
    gap: 15px;
}

.socialmedia i{
    color: black;
}

.copyright{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: white;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
