.footer{
    background: white;
    margin-top: 250px;
    padding: 25px;
    line-height: 2;
    display: flex;
    width: 100%;
    border-top: 3px solid #f2f2f2;
    border-bottom:2px solid #e4e4e4 ;
    padding-left: 10rem;
    padding-right: 10rem;
}
.nav2{
    display: contents;
}

.nav2 li{
   list-style-type: none;
  
}
  
.nav2 a{
   text-decoration: none;
   color:#2b2b2b;
}
 
.nav2 a :hover{
    color: black;
}

.span{
    margin-bottom: 5px;
    font: 15px/30px 'AvenirNext-Medium',sans-serif;
    font-weight: 550;
    cursor: pointer;
}
  
.nav2{
    width: 25%;
    padding: 0 15px;
}

.footer-col{
    margin-left: 240px;
    margin-top: 50px;
    padding: 1px;
}
  
.footer-col li{
    list-style-type: none;
}
  
.footer-col a{
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 450;
    font-size: medium;
}

.footer :hover{
    color: black;
}

.ad{
    font-weight: bolder;
    font-size: x-large;
    color: black;
}

.socialmedia{
    margin-left: 300px;
    margin-top: 55px;   
}

.socialmedia i{
    color: black;
}

.socialmedia li{
    list-style-type: none;
}

.socialmedia ul{
    display: inline-flex;
    gap: 20px;
}

.socialmedia h2{
    font: 17px/30px 'AvenirNext-SemiBold',sans-serif;
    font-weight: 550;
}

.copyright{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: white;
    color: black;
    font-weight: 400;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .footer{
        display: flex;
        flex-wrap: wrap;
        padding-left: 2rem;
        margin-top: 50px;
    }

    .footer-col{
        margin-left: 0;
        min-width: 300px;
    }

    .socialmedia{
        margin-left: 0;
    }

    .copyright{
        min-width: 300px;
    }

}