*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: white;
    height: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    padding-left: 10.5rem;
    padding-right: 10.5rem;
    position: fixed;
    top: 0;
}
  
.nav{
    flex: 1;
    text-align: right;
}
  
.nav ul{
    display: inline-block;
    list-style-type: none;
    display: inline-flex;
    gap: 72px;
}
  
.nav ul li{
    display: inline-block;
    display: flex;
    align-items: center;
    font-weight: 500;
}
  
.nav a{
    text-decoration: none;
    color: black;
}
.nav button{
    background-color: black;
    color: white;
    padding: 8px;
    font-weight: bold;
}
