*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background: white;
    height: 5.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ececec;
    padding-left: 10rem;
    padding-right: 10rem;
    position: fixed;
    top: 0;
}
  
.nav{
    flex: 1;
    text-align: right;
}
  
.nav ul{
    display: inline-block;
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
}
  
.nav ul li{
    display: inline-block;
    display: flex;
    align-items: center;
    font-weight: 550; 
    font:'AvenirNext-SemiBold',sans-serif;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.nav a{
    text-decoration: none;
    color: black;
}
.nav button{
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
