 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto; 
  width: 100%;
  border: 2px solid black;
  border: none; 
  margin-top:280px;
  padding-left: 12rem;
  padding-right: 12rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
  height: 80px;
  border: 1px solid #e5e5e5;
  min-width: 300px;
}


