 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto; 
  width: 100%;
  border: 2px solid black;
  border: none; 
  margin-top:230px;
  padding-left: 12rem;
  padding-right: 12rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 20px;
  border: 1px solid #e5e5e5;
  min-width: 300px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .flex{
    margin-top: 120px;
  }
}
